@import "tailwindcss";
:root {
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-principal: #0a5a7a; 
  --color-lateral: #083d54;   
  --color-borde: #062c3d;   

  --padding-body-left: 16px; 
  --padding-body-right: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: -apple-system,"system-ui",Segoe UI,roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* background: radial-gradient(circle, #065F87 40%, #043F5C 80%); */
  background: radial-gradient(circle, var(--color-lateral) 40%, var(--color-borde) 80%);
  padding-left: var(--padding-body-left);
  padding-right: var(--padding-body-right);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    margin: 0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 768px) {
  :root {
    --padding-body-left: 24px;
    --padding-body-right: 24px;
  }
}

@media (min-width: 1024px) {
  :root {
    --padding-body-left: 200px;
    --padding-body-right: 200px;
  }
}

@media (min-width: 1280px) {
  :root {
    --padding-body-left: 200px;
    --padding-body-right: 200px;
  }
}

@media (min-width: 1536px) {
  :root {
    --padding-body-left: 320px;
    --padding-body-right: 320px;
  }
}

p{
  font-size: 18px;
}

.bg-seccion{
  background: radial-gradient(circle, #065F87 40%, #043F5C 80%);
}

.color-primary {
  color: #E8037D;
}

.color-secundary {
  color: #0A6D98;
}